#leaderboardRoot {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: green;
    flex: 1 1 auto;
    width: 25%;
    justify-content: space-evenly;
    padding: .5em; */
    grid-column: 2;
    /* grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    display: grid; */
    background-color: #D9D9D9;
    margin: 1em;
    display: grid;
    min-width: 0;
    max-height: 100vh; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}
