.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.country {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
}
.country > p {
    background-color: black;
}
.country:active {
    transform: scale(0.95);
}

.countryName {
    font-size: 1rem;
    margin: 0.5rem 0;
}
