.flag-leaderboard {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.leaderboard-flag {
    animation: fadein 1s;
    text-align: center;
    flex: 1 1 auto;
    min-height: 0;
    max-height: fit-content;
    width: 0;
    max-width: 3em;
}
